$red: #e42038;
$gray: #959595;
@font-face {
  font-family: "Cygre";
  src: url("../fonts/Cygre-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Cygre";
  src: url("../fonts/Cygre-Bold.ttf") format("truetype");
  font-weight: 600;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.container {
  max-width: 1324px;
  width: 100%;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  font-family: "Cygre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  color: #000;
  font-size: 16px;
  background: #fff;
  line-height: 1.2;
}

.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  left: 0;
  top: 0;
  padding: 12px 0;
  background: #fff;

  &__logo {
    img {
      min-width: 197px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;

    &-items {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-item {
      transition: 200ms ease all;
      color: #000;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 4px;
      img {
        transition: 200ms ease all;
      }

      &:hover {
        color: #e42038;
      }

      &--active {
        color: #e42038;
      }
    }
  }

  &__switcher {
    background: rgba(217, 217, 217, 0.5);
    width: 55px;
    height: 22px;
    min-width: 55px;
    border-radius: 30px;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;

    &-item {
      color: #fff;
      font-size: 11px;
      text-transform: uppercase;
      width: 22px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      transition: 200ms ease all;

      &--active {
        background: #e42038;
      }
    }
  }

  &__burger {
    display: none;
    width: 35px;
    flex-direction: column;
    padding: 5px 0;
    gap: 6px;
    margin-left: 10px;
    span {
      width: 100%;
      display: inline-block;
      height: 2px;
      min-height: 2px;
      border-radius: 4px;
      transition: 200ms ease all;
      position: relative;
      background: red;
    }

    &--active {
      span {
        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(1) {
          transform: rotate(45deg);
          top: 7px;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: -8px;
        }
      }
    }
  }

  .dropdown-menu {
    position: relative;

    &__container {
      position: absolute;
      display: none;
      top: 15px;
      left: calc(50% - 155px);
    }
    &__items {
      width: 310px;
      border-color: rgba(255, 255, 255, 0.16);
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(10px);
      border-radius: 12px;
      border: 1px solid rgba(0, 0, 0, 0.24);
      padding: 10px 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      left: calc(50% - 155px);
      top: 15px;
    }

    &:hover {
      .header__nav-item img {
        transform: rotate(180deg);
      }
      .dropdown-menu__container {
        display: inline-block;
      }
    }
  }
}

.hero {
  min-height: 604px;
  margin-top: 77px;
  background: url("../img/hero-img.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &--services {
    background: url("../img/services-hero.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--cases {
    background: url("../img/cases-hero.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--career {
    background: url("../img/career-hero.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--contacts {
    background: url("../img/contacts-hero.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__container {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0 40px;
    color: #fff;

    .container {
      position: relative;

      .hero__btn {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
      }
    }
  }

  &__slider {
    overflow: hidden;
    color: #fff;
  }

  ul {
    line-height: 130%;
    font-size: 24px;
    padding-left: 30px;
    li {
      list-style: disc;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
  }

  &__dots-container {
    text-align: right;
    padding-bottom: 14px;

    .swiper-pagination-bullet {
      width: 17px;
      height: 17px;
      opacity: 1;
      margin: 0 11px !important;
      background: #d9d9d9;

      &-active {
        background: #e42038;
      }
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: 200ms ease all;
  background: #e42038;
  border-radius: 100px;
  padding: 0 15px 3px 15px;
  min-width: 207px;

  &:hover {
    background: #aa2938;
  }

  &--reverse {
    background: #fff;
    color: #e42038;
    &:hover {
      background: #aa2938;
      color: #fff;
    }
  }
}

.block {
  padding-top: 35px;
  padding-bottom: 35px;
}

.block-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 124%;
}

.services-items {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 50px;
}

.services-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 43.5px -1px rgba(0, 0, 0, 0.25);
  padding: 15px;

  img {
    width: 100%;
    max-width: 160px;
  }

  &__link {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    transition: 200ms ease all;
    border-bottom: 1px solid #000;
    &:hover {
      border-color: transparent;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 120%;
    padding-top: 10px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  &__founder {
    position: relative;
    width: 43%;

    &-info {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
    }

    &-name {
      font-size: 28px;
      line-height: 111%;
      padding-bottom: 4px;
    }

    &-desc {
      font-size: 28px;
      line-height: 111%;
      color: #e42038;
    }

    img {
      display: block;
      margin: 0 0 0 auto;
    }

    &-quote {
      position: absolute;
      padding: 20px 20px 30px;
      max-width: 276px;
      width: 100%;
      background: #ebebec;
      border-radius: 10px;
      font-size: 20px;
      color: #959595;
      line-height: 115%;
      bottom: -20px;
      left: 0;
      transition: 400ms ease all;
      opacity: 0;
    }

    &:hover {
      .about__founder-quote {
        opacity: 1;
      }
    }
  }

  &__info {
    position: relative;
    flex: 1;
    border-radius: 10px;
    background: #e42038;
    color: #fff;
    padding: 25px 30px 15px;

    &-title {
      font-size: 38px;
      padding-bottom: 5px;
    }

    &-desc {
      font-size: 26px;
      line-height: 111%;
    }

    img {
      position: absolute;
      right: 20px;
      bottom: 15px;
    }
  }

  &__btn {
    position: absolute;
    left: 30px;
    bottom: 35px;
  }
}

.trust {
  position: relative;

  &__info {
    max-width: 79%;
  }

  .title {
    color: #e42038;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 10px;
  }

  .desc {
    color: #959595;
    font-size: 32px;
    line-height: 126%;
  }

  &__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 25px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    &-img-holder {
      width: 45px;
      min-width: 45px;
    }

    &-title {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
      line-height: 104%;
    }

    &-desc {
      color: #959595;
      font-size: 18px;
      line-height: 104%;
    }
  }

  .title-label {
    position: absolute;
    right: 0;
    top: 35px;
  }
}

.title-label {
  width: 258px;
  height: 296px;
  background: url("../img/label.png") no-repeat;
  padding: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  &__title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 4px;
  }

  &__desc {
    font-size: 26px;
  }
}

.our-clients {
  overflow-x: hidden;
  .container {
    position: relative;
  }
  .title {
    text-transform: none;
  }
  .swiper-button-disabled {
    display: none;
  }
}

.reviews {
  overflow: hidden;
  margin-top: 33px;
  position: relative;

  .swiper-button-disabled {
    display: none;
  }

  &__arrows {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 2;
  }

  &__arrow {
    cursor: pointer;
  }

  &__dots {
    margin-top: 20px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      opacity: 1;
      margin: 0 5px !important;
      background: #d9d9d9;

      &-active {
        background: #e42038;
      }
    }
  }

  &__slide {
    width: 22%;
    margin: 0 10px;
    padding: 15px;
    border-radius: 10px;
    background: #ebebec;
  }

  &__name {
    font-size: 21px;
    padding-bottom: 10px;
  }

  &__post {
    color: #959595;
    font-size: 11px;
    padding-bottom: 20px;
  }

  &__desc {
    font-size: 14px;
    color: #959595;
  }

  .swiper-slide-active {
    background: $red;
    padding: 20px;
    width: 50%;

    .reviews__name {
      color: #fff;
      font-size: 38px;
      padding-bottom: 15px;
    }

    .reviews__post {
      color: #fff;
      font-size: 20px;
    }

    .reviews__desc {
      font-size: 20px;
      line-height: 130%;
      color: #fff;
    }
  }

  .swiper-wrapper {
    align-items: flex-end;
  }
}

.logo-slides {
  padding-top: 40px;
  position: relative;

  .logo-slide {
    width: 148px;
    height: 148px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
    border-radius: 10px;

    img {
      max-width: 100%;
    }
  }

  .logo-left {
    position: absolute;
    z-index: 3;
    left: 50px;
    top: calc(63% - 27px);
  }

  .logo-right {
    position: absolute;
    z-index: 3;
    right: 50px;
    top: calc(63% - 27px);
  }
}

.values {
  position: relative;
  .title {
    color: #e42038;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 10px;
  }

  .desc {
    color: #959595;
    font-size: 32px;
    line-height: 126%;
    max-width: 1050px;
  }

  .title-label {
    position: absolute;
    right: 0;
    top: 35px;

    &__title {
      font-size: 28px;
    }
  }

  &__container {
    display: flex;
    align-items: flex-end;
    gap: 65px;
    margin-top: 50px;
  }

  &__form {
    min-width: 515px;
    width: 515px;

    &-label {
      color: #959595;
      font-size: 22px;
      line-height: 126%;

      &-container {
        max-width: 240px;
        text-align: center;
      }
    }

    &-btn {
      font-size: 24px;
      min-width: auto;
      margin-top: 8px;
      padding-top: 3px;
      padding-bottom: 6px;
    }

    &-title {
      font-size: 24px;
      text-transform: uppercase;
      color: $red;
      line-height: 126%;
      font-weight: 600;
      margin-top: 20px;
    }

    &-container {
      margin-top: 15px;
      background: #ebebec;
      border-radius: 10px;
      padding: 10px 10px 15px;
    }

    .input-group {
      margin-bottom: 8px;
    }

    &-submit {
      cursor: pointer;
      font-size: 24px;
    }
  }

  &__items {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    &-img-holder {
      width: 45px;
      min-width: 45px;
    }

    &-title {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
      line-height: 104%;
    }

    &-desc {
      color: #959595;
      font-size: 18px;
      line-height: 104%;
    }
  }
}

.input-group {
  input {
    width: 100%;
    font-family: "Cygre", sans-serif;
    font-weight: 400;
    background: #fff;
    font-size: 16px;
    color: #000;
    padding: 13px 20px 18px;
    border-radius: 10px;

    &::placeholder {
      color: #959595;
      font-size: 16px;
    }
  }
}

.request {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 45px 70px;
    background: #ebebec;
    border-radius: 20px;
    gap: 120px;
  }

  .title {
    font-size: 40px;
    text-transform: none;
    line-height: 113%;
    font-weight: 400;
    max-width: 240px;
  }

  &__form {
    flex: 1;

    .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      margin-bottom: 15px;
    }

    textarea {
      width: 100%;
      font-family: "Cygre", sans-serif;
      font-weight: 400;
      background: #fff;
      font-size: 16px;
      color: #000;
      padding: 13px 20px 18px;
      border-radius: 10px;
      resize: none;
      min-height: 124px;
      outline: none;

      &::placeholder {
        color: #959595;
        font-size: 16px;
      }
    }

    .input-check {
      margin-top: 12px;
      label {
        font-size: 16px;
      }
    }

    &-submit {
      margin-top: 20px;
      cursor: pointer;
      font-size: 24px;
      min-width: 180px;
    }
  }
}

.footer {
  padding-top: 30px;
  padding-bottom: 80px;

  &__line {
    width: 100%;
    height: 1px;
    background: #959595;
    margin-bottom: 33px;
    filter: blur(4px);
  }

  &__container {
    display: flex;
    align-items: flex-start;
  }

  &__logo {
    margin-right: 67px;
  }

  &__group {
    max-width: 300px;
    margin-right: 120px;
  }

  &__title {
    color: #959595;
    text-transform: uppercase;
    padding-bottom: 25px;
  }

  &__desc {
    font-size: 14px;
    line-height: 115%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-top: 13px;

    a {
      font-size: 14px;
      color: #000;
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

    a {
      font-size: 14px;
      text-decoration: none;
      color: #000;
      display: inline-flex;
      align-items: center;
      gap: 5px;
      transition: 200ms ease all;

      &:hover {
        color: $red;
      }

      &::before {
        content: url("../img/nav-arrow.png");
      }
    }
  }
}

.cases-items {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 50px;
}

.cases-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 43.5px -1px rgba(0, 0, 0, 0.25);
  padding: 25px 30px 30px;

  &__title {
    font-size: 32px;
    line-height: 107%;
    padding-bottom: 20px;
  }

  &__desc {
    color: #959595;
    line-height: 115%;
    padding-bottom: 30px;
  }

  &__more {
    color: $red;
    text-decoration: none;
    transition: 200ms ease all;
    border-bottom: 1px solid $red;

    &:hover {
      border-color: transparent;
    }
  }
}

.career-feauters {
  .title {
    color: #e42038;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 10px;
  }

  .desc {
    color: #959595;
    font-size: 32px;
    line-height: 126%;
  }
}

.about-company {
  &__container {
    padding: 50px 40px 80px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 43.5px -1px rgba(0, 0, 0, 0.25);

    .title {
      color: #e42038;
      text-transform: none;
      font-weight: 600;
      font-size: 40px;
      padding-bottom: 50px;
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 40px;
  }

  &__item {
    &-title {
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 38px;
    }

    &-desc {
      color: #959595;
      font-size: 32px;
      line-height: 107%;
    }

    &--img {
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
      }
    }
  }
}

.career-looking {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .title {
      text-transform: none;
      font-weight: 400;
      font-size: 40px;
    }

    .reviews__arrows {
      position: static;
    }
  }
}

.career-slider {
  overflow: hidden;
  margin-top: 80px;
}

.career-slide {
  padding: 45px 50px 55px;
  border-radius: 20px;
  border: 1px solid #000;
  position: relative;

  &__title {
    font-size: 38px;
    padding-bottom: 60px;
  }

  &__btn {
    font-size: 26px;
    min-width: 184px;
    position: absolute;
    z-index: 2;
    right: 50px;
    bottom: 55px;
  }
}

.career-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 75px;
  grid-row-gap: 30px;
  padding-right: 20%;
}

.career-item__title {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 28px;
}

.career-item__desc {
  color: #959595;
  font-size: 20px;
  line-height: 107%;
}

.career-dots {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 1;
    margin: 0 5px !important;
    background: #d9d9d9;

    &-active {
      background: #e42038;
    }
  }
}

.contacts {
  &__block {
    padding: 25px 25px 32px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 43.5px -1px rgba(0, 0, 0, 0.25);
    display: flex;
  }

  &__group {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    &:first-child {
      padding-right: 40px;
      border-right: 1px solid #000;
    }

    &:last-child {
      padding-left: 40px;
    }
  }

  &__title {
    font-size: 32px;
    color: #959595;
    padding-bottom: 6px;
  }

  &__desc {
    font-size: 16px;
    line-height: 107%;
  }

  &__address {
    font-size: 30px;
    line-height: 107%;
    max-width: 440px;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 30px;

    &-group {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 4px;

      a {
        color: #000;
        text-decoration: none;
        font-size: 28px;
      }
    }
  }

  &__btn {
    font-size: 24px;
    padding-top: 6px;
    padding-bottom: 10px;
  }
}

.blocker {
  z-index: 999;
}

.modal {
  max-width: 1324px;
  padding: 50px 30px;
}

.modal-case {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
  }

  &__title {
    color: $red;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    &-title {
      text-align: center;
      font-size: 40px;
      line-height: 107%;
      font-weight: 600;
      padding-bottom: 40px;
    }

    &-desc {
      font-size: 32px;
      color: #959595;
      line-height: 107%;
    }

    &-icon {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.post-info__container {
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 43.5px -1px rgba(0, 0, 0, 0.25);
}

.post-info {
  padding-bottom: 42px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 40px;

    ul {
      font-size: 30px;
      line-height: 124%;
      padding-left: 30px;
      li {
        list-style: disc;
      }
    }

    p {
      font-size: 30px;
      padding-bottom: 20px;
      line-height: 124%;
    }
    img {
      max-width: 100%;
    }
    &-desc {
      min-width: 60%;
      max-width: 60%;
    }
  }

  &__body {
    font-size: 32px;
    color: #959595;
    line-height: 115%;
    padding-bottom: 30px;
    p {
      padding-bottom: 30px;
    }
    ul {
      margin-left: 30px;
      padding: 15px 0;
      li {
        list-style: disc;
        line-height: 115%;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    &-desc {
      min-width: 60%;
      max-width: 60%;
      font-size: 32px;
      line-height: 124%;
    }
    img {
      max-width: 100%;
    }
  }
}

.trust__info--post {
  max-width: 100%;
  .title,
  .desc {
    max-width: 79%;
  }
}

@media (max-width: 1365px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero__container .container .hero__btn {
    right: 15px;
  }

  .services-items,
  .cases-items {
    grid-column-gap: 50px;
  }

  .values .desc,
  .trust .desc {
    max-width: 70%;
  }

  .contacts__block {
    flex-direction: column;
  }
  .contacts__group {
    width: 100%;
  }
  .contacts__group:first-child {
    padding-right: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    border-right: none;
  }
  .contacts__footer {
    justify-content: space-between;
  }
  .contacts__group:last-child {
    padding-left: 0;
    padding-top: 20px;
  }
}

@media (max-width: 1199px) {
  .trust .desc,
  .values .desc {
    font-size: 26px;
  }

  .trust__item {
    gap: 15px;
  }

  .trust__items {
    grid-column-gap: 20px;
  }

  .values__container {
    flex-direction: column;
    align-items: center;
  }

  .values__items {
    padding-top: 100px;
  }

  .values__form-label-container {
    max-width: 100%;
  }
  .post-info__header {
    gap: 50px;
  }
  .trust__info--post .title,
  .trust__info--post .desc {
    max-width: 75%;
  }
}

@media (max-width: 989px) {
  .header__nav-items {
    display: none;
  }

  .header__burger {
    display: flex;
  }

  .header--open {
    .header__nav-items {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      background: #fff;
      width: 100%;
      gap: 10px;
      padding: 10px 20px 20px;
      top: 77px;
      border-top: 1px solid $red;
      align-items: flex-start;
    }
    .dropdown-menu__container {
      position: static;
      display: block;
    }
    .dropdown-menu__items {
      width: auto;
      padding: 0;
      border: none;
      background: none;
      position: static;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 15px;
      gap: 5px;
      .header__nav-item {
        font-size: 14px;
      }
    }
  }

  .hero {
    min-height: 450px;

    &__title {
      font-size: 30px;
    }
  }

  .hero__slider ul {
    font-size: 20px;
    max-width: 69%;
  }

  .btn {
    font-size: 20px;
    min-width: auto;
  }

  .title {
    font-size: 30px;
  }

  .services-items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .about__btn {
    position: static;
  }

  .about__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .about__info-title {
    width: 100%;
    font-size: 32px;
  }

  .about__info-desc {
    width: 100%;
    font-size: 22px;
    padding-bottom: 35px;
  }

  .about__info img {
    position: static;
  }

  .about__info-img-holder {
    width: 40%;
    order: 5;
  }

  .about__founder {
    width: 50%;
  }

  .about__founder-quote {
    padding: 10px;
    font-size: 16px;
    opacity: 1;
  }

  .trust .title {
    font-size: 30px;
  }

  .trust .desc,
  .values .desc {
    font-size: 20px;
  }

  .title-label__title {
    font-size: 26px;
  }

  .title-label__desc {
    font-size: 20px;
  }

  .title-label {
    width: 220px;
    height: 250px;
    background-size: cover;
  }

  .trust__info {
    max-width: 100%;
  }

  .trust__items {
    margin-top: 120px;
    grid-template-columns: repeat(2, 1fr);
  }

  .logo-slides .logo-left {
    left: 15px;
  }

  .logo-slides .logo-right {
    right: 15px;
  }

  .values .title-label__title {
    font-size: 26px;
  }

  .values .title {
    font-size: 30px;
  }

  .reviews__slide {
    margin: 0;
  }

  .reviews .swiper-slide-active .reviews__name,
  .reviews .swiper-slide .reviews__name {
    font-size: 30px;
    color: #fff;
  }

  .reviews .swiper-slide-active .reviews__post,
  .reviews .swiper-slide .reviews__post {
    font-size: 16px;
    color: #fff;
  }

  .reviews .swiper-slide .reviews__desc {
    color: #fff;
  }

  .reviews .swiper-slide {
    background: $red;
  }

  .request__container {
    gap: 50px;
    padding: 30px;
  }

  .request .title {
    font-size: 30px;
  }

  .footer__logo {
    margin-right: 40px;
  }
  .footer__group {
    margin-right: 40px;
  }

  .cases-items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .cases-item__title {
    font-size: 22px;
  }

  .career-feauters .title {
    font-size: 30px;
  }

  .career-feauters .desc {
    font-size: 20px;
  }

  .trust__items--career {
    margin-top: 40px;
  }

  .about-company__container .title {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .about-company__items {
    grid-gap: 20px;
  }

  .about-company__item-title {
    font-size: 26px;
    padding-bottom: 15px;
  }

  .about-company__item-desc {
    font-size: 16px;
  }

  .career-looking__header .title {
    font-size: 30px;
  }

  .career-dots {
    display: none;
  }

  .career-slider {
    margin-top: 40px;
  }

  .career-slide {
    padding: 30px;
  }

  .career-slide__title {
    font-size: 30px;
    padding-bottom: 25px;
  }

  .career-grid {
    grid-gap: 20px;
  }

  .career-item__title {
    font-size: 20px;
    padding-bottom: 15px;
  }
  .career-item__desc {
    font-size: 16px;
  }

  .modal-case__title {
    font-size: 30px;
  }

  .modal-case__item-title {
    font-size: 25px;
    padding-bottom: 20px;
  }

  .modal-case__item-desc {
    font-size: 16px;
  }

  .post-info__header img {
    display: none;
  }
  .post-info__header-desc {
    min-width: auto;
    max-width: none;
  }

  .post-info__body,
  .post-info__header p {
    font-size: 24px;
  }
  .post-info__header ul {
    font-size: 24px;
  }
  .post-info__footer-desc {
    font-size: 24px;
  }
  .post-info__footer img {
    width: 30%;
  }
  .trust__info--post .title,
  .trust__info--post .desc {
    max-width: 70%;
  }
  .trust__info--post .trust__items {
    margin-top: 40px;
  }

  .post-info__header {
    gap: 0;
  }
}

@media (max-width: 767px) {
  .hero__dots-container {
    display: none;
  }

  .hero__title {
    font-size: 24px;
    padding-bottom: 10px;
  }

  .hero__slider ul {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }

  .services-item img {
    max-width: 100px;
  }

  .services-item__link {
    font-size: 20px;
  }

  .services-item__desc {
    font-size: 16px;
  }

  .services-items {
    grid-gap: 15px;
  }

  .about__info-title {
    font-size: 20px;
  }

  .about__info-desc {
    font-size: 16px;
  }

  .about {
    gap: 0;
  }

  .about__info {
    padding: 15px 15px 20px;
  }

  .about__founder-name {
    font-size: 22px;
  }

  .about__founder-desc {
    font-size: 22px;
  }

  .about__btn {
    font-size: 14px;
  }

  .about__founder {
    width: 45%;
  }

  .about__founder-quote {
    font-size: 12px;
  }

  .about__founder img {
    margin-top: 24px;
  }

  .trust .title {
    font-size: 20px;
  }

  .trust .desc,
  .values .desc {
    font-size: 14px;
  }

  .title-label__title {
    font-size: 18px;
  }

  .title-label__desc {
    font-size: 14px;
  }

  .title-label {
    width: 150px;
    height: 170px;
    padding: 20px 10px;
  }

  .trust__items {
    margin-top: 80px;
  }

  .trust__item,
  .values__item {
    gap: 10px;
  }

  .trust__item-img-holder,
  .values__item-img-holder {
    width: 25px;
    min-width: 25px;
  }

  .trust__item-title,
  .values__item-title {
    font-size: 16px;
  }

  .trust__item-desc,
  .values__item-desc {
    font-size: 14px;
  }

  .trust__items {
    grid-gap: 15px;
  }

  .reviews .swiper-slide-active .reviews__name,
  .reviews .swiper-slide .reviews__name {
    font-size: 20px;
  }

  .reviews .swiper-slide-active .reviews__post,
  .reviews .swiper-slide .reviews__post {
    font-size: 13px;
  }

  .reviews .swiper-slide-active .reviews__desc {
    font-size: 16px;
  }

  .logo-slides .logo-slide {
    width: 100px;
    height: 100px;
    margin: 0 5px;
  }

  .logo-slides .logo-left {
    left: 0;
  }

  .logo-slides .logo-right {
    right: 0;
  }

  .values .title {
    font-size: 20px;
  }

  .values .title-label__title {
    font-size: 18px;
  }

  .values__items {
    padding-top: 40px;
  }

  .values__items {
    grid-gap: 15px;
  }

  .values__form {
    width: 100%;
    min-width: 100%;
  }

  .values__form-title {
    font-size: 20px;
    text-align: center;
  }

  .request__container {
    gap: 20px;
    flex-direction: column;
    padding: 15px;
  }

  .request .title {
    font-size: 20px;
    max-width: 100%;
  }

  .footer {
    padding-bottom: 40px;
  }

  .footer__container {
    flex-direction: column;
    gap: 15px;
  }

  .footer__logo {
    margin: 0 auto;
    text-align: center;
  }

  .footer__group {
    margin: 0 auto;
    text-align: center;
  }

  .footer__info {
    align-items: center;
  }

  .footer__nav {
    margin: 0 auto;
  }

  .career-feauters .title {
    font-size: 20px;
  }

  .career-feauters .desc {
    font-size: 14px;
  }

  .trust__items--career {
    margin-top: 40px;
  }

  .about-company__container {
    padding: 15px;
  }

  .about-company__container .title {
    font-size: 20px;
  }

  .about-company__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-company__item-title {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .career-looking__header .title {
    font-size: 20px;
  }

  .career-slide {
    padding: 20px;
  }

  .career-grid {
    grid-template-columns: repeat(1, 1fr);
    padding-right: 0;
    padding-bottom: 15px;
  }

  .career-slide__btn {
    position: static;
  }

  .career-slide__title {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .career-item__desc {
    font-size: 14px;
  }

  .career-item__title {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .contacts__footer {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 15px;
  }

  .contacts__footer-group {
    align-items: flex-start;
  }
  .modal {
    padding: 20px;
  }
  .blocker {
    padding: 20px 10px;
  }
  .modal-case__title {
    font-size: 16px;
  }

  .modal-case__arrow img {
    width: 30px;
    min-width: 30px;
    height: 30px;
  }

  .modal-case__header {
    margin-bottom: 20px;
  }

  .modal-case__item-title {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .modal-case__item-desc {
    font-size: 14px;
  }

  .modal-case__body {
    gap: 15px;
  }
  .modal-case__column {
    gap: 15px;
  }

  .post-info__body,
  .post-info__header p {
    font-size: 20px;
  }
  .post-info__header ul {
    font-size: 20px;
  }
  .post-info__header {
    margin-bottom: 20px;
  }
  .post-info__body p {
    padding-bottom: 20px;
  }
  .post-info__footer-desc {
    font-size: 18px;
  }
  .hero ul {
    font-size: 16px;
  }
  .hero__container {
    padding-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .header__logo img {
    min-width: auto;
    width: 105px;
  }

  .hero {
    margin-top: 52px;
  }

  .header--open .header__nav-items {
    top: 52px;
  }

  .hero {
    min-height: 320px;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__slider ul {
    font-size: 13px;
  }

  .btn {
    font-size: 14px;
  }

  .title {
    font-size: 14px;
    br {
      display: none;
    }
  }

  .block-header {
    gap: 15px;
  }

  .services-item img {
    max-width: 75px;
    width: 75px;
  }

  .services-item {
    padding: 10px;
    gap: 10px;
  }

  .services-item__link {
    font-size: 14px;
  }

  .services-item__desc {
    padding-top: 5px;
    font-size: 13px;
  }

  .about__founder-name,
  .about__founder-desc {
    font-size: 18px;
  }

  .about__info-title {
    font-size: 16px;
  }

  .about__info-desc {
    font-size: 13px;
    padding-bottom: 20px;
  }

  .about__info-img-holder {
    display: none;
  }

  .about__founder-quote {
    font-size: 8px;
  }

  .trust .title {
    font-size: 14px;
  }

  .trust .desc,
  .values .desc {
    font-size: 12px;
  }

  .title-label__title {
    font-size: 14px;
  }

  .values .title-label__title {
    font-size: 12px;
  }

  .title-label__desc {
    font-size: 10px;
  }

  .title-label {
    width: 104px;
    height: 135px;
  }

  .trust__items {
    margin-top: 55px;
  }

  .trust__item-img-holder,
  .values__item-img-holder {
    width: 16px;
    min-width: 16px;
  }

  .trust__item-title,
  .values__item-title {
    font-size: 14px;
  }

  .trust__item-desc,
  .values__item-desc {
    font-size: 12px;
  }

  .reviews .swiper-slide-active .reviews__name,
  .reviews .swiper-slide .reviews__name {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .reviews .swiper-slide-active .reviews__post,
  .reviews .swiper-slide .reviews__post {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .reviews .swiper-slide-active .reviews__desc {
    font-size: 12px;
  }

  .reviews__dots {
    display: none;
  }

  .reviews__arrows {
    position: static;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .reviews {
    margin-top: 15px;
  }

  .logo-slides {
    .logo-left,
    .logo-right {
      top: calc(75% - 27px);
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .logo-slides .logo-slide {
    width: 70px;
    height: 70px;
  }

  .values .title {
    font-size: 16px;
  }

  .values__form-label {
    font-size: 16px;
  }

  .values__form-title {
    font-size: 16px;
  }

  .input-group input {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    &::placeholder {
      font-size: 14px;
    }
  }

  .request .title {
    font-size: 16px;
  }

  .request__form .input-check label {
    font-size: 14px;
  }

  .request__form .row {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
  }

  .cases-item {
    padding: 15px;
  }

  .cases-item__title {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .cases-item__desc {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .career-feauters .title {
    font-size: 14px;
  }

  .career-feauters .desc {
    font-size: 12px;
  }

  .trust__items--career {
    margin-top: 30px;
  }

  .about-company__container .title {
    font-size: 16px;
  }

  .about-company__item-title,
  .career-slide__title,
  .career-item__title {
    font-size: 16px;
  }

  .about-company__item-desc {
    font-size: 14px;
  }

  .career-looking__header .title {
    font-size: 16px;
  }

  .career-looking .reviews__arrows {
    margin-top: 0;
  }

  .contacts__title {
    font-size: 18px;
  }
  .contacts__address {
    font-size: 16px;
  }
  .contacts__group {
    gap: 15px;
  }
  .contacts__footer-group a {
    font-size: 16px;
  }
  .modal-case__header {
    gap: 10px;
  }
  .blocker {
    padding: 20px 0;
  }

  .modal-case__title,
  .modal-case__item-title {
    font-size: 14px;
  }
  .modal-case__item-desc {
    font-size: 12px;
  }
  .modal-case__body {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__nav-item {
    font-size: 14px;
  }
  .header--open .dropdown-menu__items {
    padding: 10px 0 10px 10px;
    .header__nav-item {
      font-size: 12px;
    }
  }

  .post-info__container {
    padding: 20px 10px;
  }

  .post-info__body,
  .post-info__header p,
  .post-info__header ul {
    font-size: 14px;
  }

  .post-info__header p {
    padding-bottom: 15px;
  }
  .post-info__footer {
    gap: 15px;
  }
  .post-info__footer-desc {
    font-size: 10px;
  }
}
